PORT=3001
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=se202513
DB_NAME=se_database
DB_SSL=false

JWT_ISSUER=yourdomain.com
SECRET_KEY=your_secret_key_here
REFRESH_SECRET_KEY=your_refresh_secret_key_here

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=12345678